html
{
    font-size: 40px;

}
.remClass
{
    font-size: .5rem;
    font-family: monospace;
    font-weight: 500;
    font-style: italic;
    color: cadetblue;
}
div.pxClass {
    font-size: 30px;
    border: 2px solid black;
}
.nextClass
{
    font-size: .9rem;
    font-family: inherit;
}
.prevClass
{
    font-size: 2rem;
    font-style: oblique;
}
span.Ex {
    font-size: 1ex;
}
div.ellipsis
{
    padding:1in;
    line-height: 40px;
    white-space: nowrap;
    width: 20em;
    overflow: hidden;
    text-overflow:ellipsis;
    border: 1px solid #000000;
}
.perCent
{
    font-size: 100%;
}

span.emClass {
    font-size: 0.5em;
}
